<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Myget" value="https://www.myget.org/F/aspnet-contrib/api/v3/index.json" />
    <add key="axnuget-cb.azurewebsites.net" value="https://axnuget-cb.azurewebsites.net/nuget/ReadKey-P5EQP9EKW3NQYZVBU6S8NNHAVS" />
    <add key="axnuget.azurewebsites.net" value="https://axnuget.azurewebsites.net/nuget/ReadKey-PsFmP6c3ZU8uapm26higMiHpcBBuWGVbpxPR6rfZ" />
  </packageSources>
</configuration>