<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="/Logs/z5.ms.userservice.internal-nlog.txt">

  <targets>
    <target xsi:type="File" name="completefile" fileName="/Logs/${date:format=yyyy-MM-dd:universalTime=true}.userservice.complete.log"
            layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${replace-newlines:${message}} ${replace-newlines:${exception:format=ToString}}" />

    <target xsi:type="File" name="errorfile" fileName="/Logs/${date:format=yyyy-MM-dd:universalTime=true}.userservice.error.log"
            layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${replace-newlines:${message}} ${replace-newlines:${exception:format=ToString}}" />

    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true"/>
    <logger name="*" minlevel="Info" writeTo="completefile" />

    <logger name="*" minlevel="Error" writeTo="errorfile" />
  </rules>
</nlog>